* {
	padding: 0;
	margin: 0;
}

html, body {
	
	font-family: arial;
}



.container {
	max-width: 1000px;
	padding: 0 20px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

.header {
	background: linear-gradient(45deg, #4d84a7, #4b83a6);
}
	.logo {
		background-image: url(img/logo.png);
		background-repeat: no-repeat;
		margin-top: 15px;
		padding: 22px 0 25px 25px;
	}
	.logo-text a {
		text-decoration: none;
		color: white;
		


	}

	.logo-text h1 {
		font-size: 30px;
	}

	.logo-text p {
		color: white;
	}

	.header-contacts {
		
		padding-top: 73px;
	}

	.header-contacts a {
		text-decoration: none;
		color: white;
		font-size: 20px;
	}

.header-menu {
	background-color: #d7d7d7;
}
	.menu, .login {
		padding: 17px 0 13px 40px;
		font-size: 14px;
	}
	.menu a {
		color: #3a5362;
		text-decoration: none;
		margin-right:45px;
	}

	.login a {
		color: #326d94;
		text-decoration: none;
		
	}




.feachurse {
	background-color: #407a9f;
	position: relative;

}
	.slider-bar {
		height: 365px;
	}



	.search-bar {
		display: flex;
		position: relative;
		width: 50%;
		margin-top: 35px;
		
	}

	.search-tag1 {
		color: white;
		background-color: #5799c1;
		text-decoration: none;
		
		padding: 15px 35px 12px 40px;
		border-radius: 10px 10px 0 0;
		font-size: 16px;

	}

	.search-tag2.nonactive {
		color: #4b83a6;
		background-color: #c2f2ed;
		text-decoration: none;
		font-size: 16px;
		margin-left: 136px;
		padding: 15px 35px 12px 15px;
		border-radius: 10px 10px 0 0;
	}
	
	.tenants, .owners {
		position: absolute;
	}

	.tenants-form {
		display: flex;
		flex-direction: column;
		margin-top: 11px;
		padding: 24px 34px 10px 38px;
		border: solid 0px ;
		border-radius: 0 10px 0 0; 
		background: linear-gradient(180deg, #5799c1, #407a9f );
		color: white;
		max-width: 340px;
		width: 100%;
		
	}

	.tenants-form p {
		margin-bottom: 16px;
	}


	

	.search__place {
		color: #316e94;
		padding: 15px 0 15px 17px;
		width: 94%;
	
		border: solid 2px #316e94;
		border-radius: 10px;
		outline: none;
		margin-bottom: 10px;
	}

	.search__place::placeholder {
		color: #316e94;
	}

	.search__check {
		
		margin-bottom: 20px;
		align-self: flex-start;
		padding-left: 13px;
	}

	.search__check input {
		margin-right: 10px;
	}

	.search-form  {
		display: flex;
		flex-direction: column;
		
		align-items: flex-end;
	}

	.search__selection {
		max-width: 204px;
		padding: 9px 0 9px 20px;
		border: solid 1px #bbbbbb;
		border-radius: 5px;
		outline: none;
		margin-left: 21px;
		
	}

	.search__selection::placeholder {
		color: #347095;
	}
	
	.search__btn {
		margin-left: 53%;
		padding: 10px 76px 10px 57px;
		border: solid 1px #bbbbbb;
		border-radius: 5px; 
		color: white;
		background: linear-gradient(180deg, #6bb2dd, #4a8ab3);
		outline: none;
		cursor: pointer;
	}

.offers {
	background: linear-gradient(180deg, #eefffd, #c2f2ed);
}

	.offers-list {
		display: flex;
		
		padding: 13px 0 25px 24px;
	}

	.offer {
		flex-basis: 33%;
		margin-right: 55px;

		
	}

	.offer h2 {
		padding-left: 42px;
		background-image: url(img/home.png); 
		background-repeat: no-repeat;
		color: #4484ad;
		margin-bottom: 23px;
	}